doctype html
html(lang="es")
	head
		title FotoFacilito
		meta(charset="utf-8")
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet")
		link(href="/public/app.css" rel="stylesheet")
	body
		nav(class="large-padding black white-text")
			ul
				li 
					a(href="/app") Inicio
				li 
					a(href="/app/imagenes/new") Subir imagen
				li 
					a(href="/app/imagenes") Mis imágenes
		block contenido
