extends ../layout.jade
block contenido
	for imagen in imagenes
		div(class="img-container")
			h1 #{imagen.title}
			img(src="../../public/imagenes/#{imagen._id}.#{imagen.extension}",class="main-img")
		